button {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

select {
  width: 220px;
  height: 22px;
  margin-right: 20px;
}

.array-container2 {
  position: relative;
  margin-top: 16%;
  margin-bottom: 17%;
  margin-left: auto;
  margin-right: auto;
}

#x {
  border: 5px solid #0b132f;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  min-height: 140px;
  min-width: 140px;
}

#arrow {
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.queue {
  width: 20px;
  border: 0;
  border-radius: 0;
  background-color: #ffbf00;
  color: transparent;
  margin: 0 0px;
  position: relative;
  max-height: 660px;
  color: #000000;
  font-size: 1em;
  height: 92px;
  width: 92px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border: 6px solid rgb(12, 53, 71);
  margin-right: 50px;
  border-radius: 100%;
  box-shadow: 5px 10px 10px #888888;
}

.p2 {
  font-size: 20px;
}

.queue:not(:last-child):after {
  content: "";
  height: 2px;
  background: black;
  width: 63px;
  position: absolute;
  right: -70px;
  top: 50%;
  animation-name: visitedAnimationlnx2;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

.queue:not(:last-child):before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 50.6%;
  border-style: solid;
  border-width: 7px 330px 7px 15px;
  border-color: transparent transparent transparent black;
  right: -61px;
  transform: translateY(-50%) rotate(180deg) translateX(12%);
  animation-name: visitedAnimationtrix2;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
}

#sel1 {
  width: 200px;
  margin-left: 10px;
  border: 2px solid rgb(12, 53, 71);
  margin-top: -3px;
  height: 38px;
}

#dataBtn {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -3px;
  background-color: #ffbf00;
  border: 2px solid rgb(12, 53, 71);
  height: 38px;
}

#dataMainBtn {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: -3px;
  color: white;
  background-color: rgb(12, 53, 71);
  border: 2px solid black;
  height: 38px;
}

#val {
  width: 130px;
  margin-left: 10px;
  border: 2px solid rgb(12, 53, 71);
  height: 37px;
  border-radius: 0.4em;
  margin-top: 20px;
}

#dval {
  width: 130px;
  margin-left: 10px;
  border: 2px solid rgb(12, 53, 71);
  margin-top: 20px;
  height: 37px;
  border-radius: 1%;
  border-radius: 0.4em;
  margin-bottom: 10px;
}

.queue > p {
  font-size: 20px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding-top: 29%;
  padding-left: 4%;
}

@keyframes visitedAnimationln {
  0% {
    width: 10px;
    right: -14px;
  }

  100% {
    width: 55px;
    right: -56px;
  }
}

@keyframes visitedAnimationtri {
  0% {
    right: -30px;
  }

  100% {
    right: -56px;
  }
}

@keyframes visitedAnimationlnx2 {
  0% {
    width: 10px;
    right: -68px;
  }

  100% {
    width: 62px;
    right: -69px;
  }
}

@keyframes visitedAnimationtrix2 {
  0% {
    right: -98px;
  }

  100% {
    right: -62px;
  }
}

@keyframes visitedAnimationlnr {
  0% {
    width: 10px;
    right: 89.7px;
  }

  100% {
    width: 43px;
    right: 89.7px;
  }
}

@keyframes visitedAnimationtrir {
  0% {
    right: -69px;
  }

  100% {
    right: -30px;
  }
}

body {
  background-color: #eeecec;
  overflow: auto;
}
