.Whole {
  background-color: #eeecec;
}

.App {
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 3%;
  margin-bottom: 5%;
  outline: #000000;
  outline-style: solid;
  outline-width: 4px;
  background-color: whitesmoke;
}

.topic {
  text-align: center;
  margin: auto;
  margin-top: 4%;
  margin-bottom: 2%;
  font-family: Trebuchet MS, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 400%;
  color: rgb(12, 53, 71);
  font-style: italic;
}

.det {
  margin: auto;
  margin-left: 10%;
  margin-right: 10%;
  font-family: Verdana, Helvetica, sans-serif;
}

.codeBlock {
  background-color: white;
  border-style: solid;
  border-color: grey;
  padding: 20px;
  margin-top: 20px;
}

.codeText {
  font-size: 15px;
  font-family: "Courier New", monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
