.node {
  width: 22px;
  height: 22px;
  margin-top: -2px;
  margin-bottom: -9px;
  margin-right: -2px;
  background-color: white;
  border: 1px solid rgb(164, 164, 160);
  display: inline-block;
  transition: all 0.25s linear;
}

.node:nth-child(2n + 50) {
  width: 22px;
  height: 22px;
  background-color: white;
  border: 1px solid rgb(164, 164, 160);
  display: inline-block;
  transition: all 0.25s linear;
}
.node-finish {
  background-color: rgb(255, 0, 56);
}

.node-start {
  background-color: rgb(0, 255, 127);
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background-color: white;
}

.node-mazecr {
  animation-name: wallCreation;
  animation-duration: 0.0001s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
  background-color: white;
  border: 1px solid rgb(12, 53, 71);
}

@keyframes wallCreation {
  0% {
    transform: scale(0.5);
    background-color: rgb(12, 53, 71);
    border-radius: 100%;
  }

  25% {
    transform: scale(0.8);
    background-color: rgb(12, 53, 71);
  }

  50% {
    background-color: rgb(12, 53, 71);
  }

  75% {
    background-color: rgb(12, 53, 71);
  }

  100% {
    transform: scale(1);
    background-color: rgb(12, 53, 71);
  }
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(230, 184, 0, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(255, 209, 26, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(255, 255, 0, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(255, 255, 26, 0.75);
  }
}

.node-wall {
  background-color: rgb(12, 53, 71);
  border: 1px solid rgb(12, 53, 71);
}

.node-shortest-path-left {
  animation-name: shortestPathLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPathLeft {
  0% {
    background-color: rgba(0, 190, 218, 0.75);
    background-image: url("left.png");
    background-repeat: no-repeat;
  }

  33% {
    background-color: rgba(0, 190, 218, 0.75);
  }

  66% {
    background-color: rgba(0, 190, 218, 0.75);
  }

  100% {
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-shortest-path-right {
  animation-name: shortestPathRight;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPathRight {
  0% {
    background-color: rgba(0, 190, 218, 0.75);
    background-image: url("right.png");
    background-repeat: no-repeat;
  }

  33% {
    background-color: rgba(0, 190, 218, 0.75);
  }

  66% {
    background-color: rgba(0, 190, 218, 0.75);
  }

  100% {
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-shortest-path-up {
  animation-name: shortestPathUp;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPathUp {
  0% {
    background-color: rgba(0, 190, 218, 0.75);
    background-image: url("up.png");
    background-repeat: no-repeat;
  }

  33% {
    background-color: rgba(0, 190, 218, 0.75);
  }

  66% {
    background-color: rgba(0, 190, 218, 0.75);
  }

  100% {
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-shortest-path-down {
  animation-name: shortestPathDown;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPathDown {
  0% {
    background-color: rgba(0, 190, 218, 0.75);
    background-image: url("down.png");
    background-repeat: no-repeat;
  }

  33% {
    background-color: rgba(0, 190, 218, 0.75);
  }

  66% {
    background-color: rgba(0, 190, 218, 0.75);
  }

  100% {
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.node-initial-mark {
  animation-name: tform;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-initial-mark-ca {
  animation-name: tformnf;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-final-mark {
  animation-name: tformf;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-final-mark-nf {
  animation-name: tformfnf;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes tformnf {
  0% {
    background-color: rgb(0, 255, 127);
    background-image: url("nf.png");
  }

  33% {
    background-color: rgb(0, 255, 127);
    background-image: url("nf.png");
  }

  66% {
    background-color: rgb(0, 255, 127);
    background-image: url("nf.png");
  }

  100% {
    background-color: rgb(0, 255, 127);
    background-image: url("nf.png");
  }
}

@keyframes tform {
  0% {
    background-color: rgb(0, 255, 127);
  }

  33% {
    background-color: rgb(0, 255, 127);
  }

  66% {
    background-color: rgb(0, 255, 127);
  }

  100% {
    background-color: rgb(0, 255, 127);
  }
}

@keyframes tformf {
  0% {
    background-color: rgb(0, 255, 127);
    background-image: url("wow.png");
    background-repeat: no-repeat;
  }

  33% {
    transform: scale(0.8);
    background-color: rgb(0, 255, 127);
    background-image: url("wow.png");
    background-repeat: no-repeat;
  }

  66% {
    background-color: rgb(0, 255, 127);
    background-image: url("wow.png");
    background-repeat: no-repeat;
  }

  100% {
    background-color: rgb(0, 255, 127);
    background-image: url("wow.png");
    background-repeat: no-repeat;
  }
}

@keyframes tformfnf {
  0% {
    background-color: rgb(248, 44, 29);
    background-image: url("nf.png");
    background-repeat: no-repeat;
  }

  33% {
    transform: scale(0.8);
    background-color: rgb(248, 44, 29);
    background-image: url("nf.png");
    background-repeat: no-repeat;
  }

  66% {
    background-color: rgb(248, 44, 29);
    background-image: url("nf.png");
    background-repeat: no-repeat;
  }

  100% {
    background-color: rgb(248, 44, 29);
    background-image: url("nf.png");
    background-repeat: no-repeat;
  }
}
